[Unit]
Description=E-Certidao Gunicorn
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/E-certidao
EnvironmentFile=/home/ubuntu/E-certidao/.env
ExecStart=/home/ubuntu/E-certidao/venv/bin/gunicorn core.wsgi:application \
    --bind 127.0.0.1:8000 \
    --workers 2 \
    --timeout 120 \
    --access-logfile /home/ubuntu/E-certidao/logs/access.log \
    --error-logfile  /home/ubuntu/E-certidao/logs/error.log
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
